
<%= form_with(model: listing, local: true) do |f| %>

<% if listing.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(listing.errors.count, "error") %> stopped this listing from being saved:</h4>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="actual_form">
      <div class="form-group row">
        <%= f.label :name, class: 'col-sm-2 col-form-label'%>
          <div class="col-sm-9">
            <%= f.text_field :name, class: "form-control"%>
          </div>
      </div>
      <div class="form-group row">
        <%= f.label :image, class: 'col-sm-2 col-form-label'%>
          <div class="col-sm-9">
            <%= f.file_field :image %>
          </div>
      </div>
      <div class="form-group row">
        <%= f.label :description, class: 'col-sm-2 col-form-label'%>
          <div class="col-sm-9">
            <%= f.text_area :description, class: "form-control"%>
          </div>
      </div>
      <div class="form-group row">
        <%= f.label :instrument_type, class: 'col-sm-2 col-form-label'%>
          <div class="col-sm-9">
            <%= f.select :instrument_type, 
              options_for_select([['Brass','Brass'], ['Percussion', 'Percussion'], ['String', 'String']]), class: "form-control" %>
          </div>
      </div>
      <div class="form-group row">
        <%= f.label :condition, class: 'col-sm-2 col-form-label'%>
          <div class="col-sm-9">
            <%= f.select :condition, 
              options_for_select([[1, 1], [2,2], [3,3], [4,4], [5,5]]), class: "form-control form-control-lg" %>
              <!-- Button trigger modal -->
<button type="button" data-toggle="modal" data-target="#exampleModalCenter" style="background: none;border:none;">
(what's this?)</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Instrument Condition Grading Scale</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p>
        A five-point grading scale is used to provide a ball-park measure of how well-preserved the instrument is. A higher grade can command a competitive asking price. </p>
        <br>
        <h5>Grade 1</h5>
        <p>The instrument is working but requires extra repairs, replacement of parts (including case, strings, nibs and so forth). Severe patina or irrepairable imperfections may present on the external of the instrument. </p>
        <br>
        <h5>Grade 2</h5>
        <p>The instrument is working. Some long term repairs are required to maintain operation. Some parts may be missing or requires replacement (including case, strings, nibs and so forth). Imperfections are present but can be removed with care.</p>
        <br>
        <h5>Grade 3</h5>
        <p>The instrument is fully working. Some minor repairs are required. Most parts are present (including case, strings, nibs and so forth). Minor imperfections on the external surface (including fingerprints, stains) which can be removed with care.</p>
        <br>
        <h5>Grade 4</h5>
        <p>The instrument is fully working. Not much repairs are required. All parts are present (including case, strings, nibs and so forth) and minor imperfections do not impact on the external appearance.</p>
        <br>
        <h5>Grade 5</h5>
        <p>The instrument is near new and fully operational. Repairs are not required. All parts are present (including case, strings, nibs and so forth).</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn searchBtn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
          </div>
      </div>
      <div class="form-group row">
        <%= f.label :year, class: 'col-sm-2 col-form-label'%>
          <div class="col-sm-9">
            <%= f.text_field :year, class: "form-control"%>
          </div>
      </div>
      <div class="form-group row">
        <%= f.label :price, class: 'col-sm-2 col-form-label'%>
          <div class="col-sm-9">
            <%= f.text_field :price, class: "form-control"%>
          </div>
      </div>
      <div class="form-group row">
        <%= f.text_field :user_id, value: current_user.id, class:'d-none'%>
      </div>
      <br>
      <div class="actions">
        <%= f.submit 'Create Listing', class: 'btn btn-pink' %>
      </div>
</div>
  <% end %>