<br>
<div class="container">
      <h3><%= @listing.name %></h3>
</div>
<div class="container">
<div class="listing_view">
      <div class="listing_view_side">
      <%= image_tag @listing.image %>
      <br><br>
      <div class="listing_view_btn" style="display:flex; width: 70%; justify-content: space-around;">
      <% if user_signed_in? && current_user == @listing.user %>
            <%= link_to "Edit Listing", edit_listing_path(@listing.id), class: "btn btn-purple" %>  
      <% elsif user_signed_in? && current_user.is_school == true %>
        <%= link_to "Buy #{@listing.name}", new_order_path(listing_id: @listing.id), class: "btn btn-pink" %>
      <% end %>
      <%= link_to "Back", listings_path, class: "btn btn-light" %>
      </div>
      </div>      
      <div class="listing_view_side">
            <ul class="list-group">
            <% if user_signed_in? %>
                  <li class="list-group-item"><strong>Price:</strong> <%= number_to_currency(@listing.price) %></li>
            <% else %>
                  <li class="list-group-item"><strong>Price:</strong>
                  <%= link_to "Pre:Loved", root_path %> maintains pricing only for <strong>verified school accounts</strong>.
                  <p>For this reason, please <%= link_to "log in", new_user_session_path, method: :get %> or <%= link_to "sign up", new_user_registration_path, method: :get %> to see our pricing information.</p>
                  </li>
            <% end %>
                  <li class="list-group-item"><strong>Year:</strong> <%= @listing.year %></li>
                  <li class="list-group-item"><strong>Condition:</strong> <%= @listing.condition %> out of 5 
                  <!-- Button trigger modal -->
<button type="button" data-toggle="modal" data-target="#exampleModalCenter" style="background: none;border:none;">
(what's this?)</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Instrument Condition Grading Scale</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p>
        A five-point grading scale is used to provide a ball-park measure of how well-preserved the instrument is. A higher grade can command a competitive asking price. </p>
        <br>
        <h5>Grade 1</h5>
        <p>The instrument is working but requires extra repairs, replacement of parts (including case, strings, nibs and so forth). Severe patina or irrepairable imperfections may present on the external of the instrument. </p>
        <br>
        <h5>Grade 2</h5>
        <p>The instrument is working. Some long term repairs are required to maintain operation. Some parts may be missing or requires replacement (including case, strings, nibs and so forth). Imperfections are present but can be removed with care.</p>
        <br>
        <h5>Grade 3</h5>
        <p>The instrument is fully working. Some minor repairs are required. Most parts are present (including case, strings, nibs and so forth). Minor imperfections on the external surface (including fingerprints, stains) which can be removed with care.</p>
        <br>
        <h5>Grade 4</h5>
        <p>The instrument is fully working. Not much repairs are required. All parts are present (including case, strings, nibs and so forth) and minor imperfections do not impact on the external appearance.</p>
        <br>
        <h5>Grade 5</h5>
        <p>The instrument is near new and fully operational. Repairs are not required. All parts are present (including case, strings, nibs and so forth).</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn searchBtn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
                  </li>
                  <li class="list-group-item"><strong>Type:</strong> <%= @listing.instrument_type %></li>
                  <li class="list-group-item"><strong>Item Listed on:</strong> <%= @listing.created_at.strftime("%d-%m-%Y") %></li>
            </ul>
<br>
                  <div class="card">
      <div class="card-header">
      <h5>Description</h5>
      </div>
      <div class="card-body">
            <p><%= @listing.description %></p>
      </div>
      </div>
<br>
      <h5>Seller Details</h5>
      <% if user_signed_in? %>
      <ul class="list-group">
            <li class="list-group-item"><strong>Preloved by:</strong> <%= @listing.user.name %></li>
            <li class="list-group-item"><strong>Contact email:</strong> <%= mail_to @listing.user.email %></li>
            <li class="list-group-item"><strong>Item location:</strong> <%= @listing.user.city %>, <%= @listing.user.state %></li>
      </ul>
      <% else %>
            Please <%= link_to "log in", new_user_session_path, method: :get %> or <%= link_to "sign up", new_user_registration_path, method: :get %> for an account to view our seller details.
      <% end %>
      </div>
</div>
</div>