<br>
<div class="container">
      <h3><%= @listing.name %></h3>
</div>
<div class="container">
<div class="listing_view">
      <div class="listing_view_side">
      <%= image_tag @listing.image %>
      <div class="listing_view_btn">
      <% if user_signed_in? && current_user == @listing.user %>
            <%= link_to "Edit Listing", edit_listing_path(@listing.id), class: "btn btn-purple" %>      
      <% end %>
      <br>
      <%= link_to "Back", listings_path, class: "btn btn-light" %>
      </div>
      </div>

      <div class="listing_view_side">
            <ul class="list-group">
            <% if user_signed_in? %>
                  <li class="list-group-item"><strong>Price:</strong> <%= number_to_currency(@listing.price) %></li>
            <% else %>
                  <li class="list-group-item"><strong>Price:</strong>
                  <%= link_to "Pre:Loved", root_path %> maintains pricing only for <strong>verified school accounts</strong>.
                  <p>For this reason, please <%= link_to "log in", new_user_session_path, method: :get %> or <%= link_to "sign up", new_user_registration_path, method: :get %> to see our pricing information.</p>
                  </li>
            <% end %>
                  <li class="list-group-item"><strong>Year:</strong> <%= @listing.year %></li>
                  <li class="list-group-item"><strong>Condition:</strong> <%= @listing.condition %> out of 5</li>
                  <li class="list-group-item"><strong>Type:</strong> <%= @listing.instrument_type %></li>
                  <li class="list-group-item"><strong>Item Listed on:</strong> <%= @listing.created_at.strftime("%d-%m-%Y") %></li>
            </ul>
<br>
                  <div class="card">
      <div class="card-header">
      <h5>Description</h5>
      </div>
      <div class="card-body">
            <p><%= @listing.description %></p>
      </div>
      </div>
<br>
      <h5>Seller Details</h5>
      <% if user_signed_in? %>
      <ul class="list-group">
            <li class="list-group-item"><strong>Seller name:</strong> <%= @listing.user.name %></li>
            <li class="list-group-item"><strong>Contact email:</strong> <%= @listing.user.email %></li>
            <li class="list-group-item"><strong>Item location:</strong> <%= @listing.user.city %>, <%= @listing.user.state %></li>
      </ul>
      <% else %>
            Please <%= link_to "log in", new_user_session_path, method: :get %> or <%= link_to "sign up", new_user_registration_path, method: :get %> for an account to view our seller details.
      <% end %>
      </div>
</div>
</div>