 
 
<div class="mainHeader">
  <div class="container mainText">
    <h1>Share your L<i class="fas fa-heart" style="font-size:3rem;"></i>ved Ones</h1>
    <h3>Re-homing Vintage Musical Instruments to Schools</h3>
    <p class="mainBlurb">A <span style="font-weight:900"> not-for-profit</span> exchange to pair up high-quality, second-hand acoustic musical instruments <br>with music makers in primary and secondary schools across Queensland. </p>
<div class="searchForm">
      <form>
        <div class="form-group row">
          <label for="searchHome" class="col-sm-4 col-form-label" style="font-weight:600;">Find your next instrument</label>


          <%# SEARCH CONTROLLER METHOD NOT WORKING %>
          <%= form_with url: search_path, method: :get, local: true, class: 'form-inline search-form' do |form| %>

          <div class="col-sm-6">
            <%= form.text_field :query, value: params[:query], class: 'form-control', placeholder: '#search' %>
          </div>

            <%= form.submit "Search", class: "btn searchBtn" %>
          <% end %>
          <%# SEARCH CONTROLLER METHOD NOT WORKING %>

        </div>
      </form>
</div>  

  </div>
</div>

<div class="mainCards container">
    <div class="card-deck">
      <div class="card">
        <div class"card-img-top" style="overflow:hidden;">
          <%= image_tag("silver-cornet-instrument-on-sheet-music.jpg", width: "100%") %>
          </div>
        <div class="card-body">
          <h5 class="card-title">Brass and Jazz</h5>
          <p class="card-text">
            School orchestras, big bands and jazz ensembles are always looking for the next trumpet, french horn and piccolo! <br><br>The Brass section is notoriously expensive to fit out in a school. So if you have a full set gathering dust, list it with us!
          </p>
          
        <%= link_to "See Brass", listings_brass_path, class: "btn listingBtn" %>

        </div>
      </div>
        <div class="card">
        <div class"card-img-top" style="overflow:hidden;">
          <%= image_tag("drum-set-overhead.jpg", width: "100%") %>
          </div>
        <div class="card-body">
          <h5 class="card-title">Keyboards & Percussion</h5>
          <p class="card-text">The rarest of the lot. We welcome everything from individual pieces (snare drums, tin hats) to full sets. <br><br>Likewise, electric pianos are highly sought after for individal learners to band ensembles. </p>
          
        <%= link_to "See Percussion", listings_percussion_path, class: "btn listingBtn" %>

        </div>
      </div>
      <div class="card">
        
        <div class"card-img-top" style="overflow:hidden;">
          <%= image_tag("violin-base--on-music-sheets.jpg", width: "100%") %>
          </div>
        <div class="card-body">
          <h5 class="card-title">The String Section</h5>
          <p class="card-text">Violins, Violas, Guitars and other instruments in the large string family are highly sought after as they are amongst the easiest to learn. <br><br>As long as the body, bridge, pegs are all intact, we want to hear from you. <p>
        
        <%= link_to "See Strings", listings_string_path, class: "btn listingBtn" %>
</div>
</div>
</div>
</div>

